
a{
    text-decoration:none;
    color:#eee;
}

.header{
    width:1140px;
    max-width:80%;
    margin:auto;
    height:50px;
    display:flex;
    align-items:center;
    position:relative;
    z-index:100;


}

.header a{
    margin-right:40px;

}
